*{
    box-sizing: border-box;
}
h1{
    border: 3px solid green;
    padding: 1em;
    margin: 1em;
}
.Box{
    border: 6px solid red;
    padding: 2em;
    margin: 1em;
}
.Box2{
    border: 5px dashed blue;
    padding: 1em;
}
.block li {
    display: block;
    border: 3px dashed green;
    padding: 1em;
    margin: 1em;
}
.inline li{
    display: inline;
    border: 3px dashed blue;
    color: red;
    padding: 1em;
    margin-top: 1em;
}
.inlineblock li{
    display: inline-block;
    border: 3px dashed red;
    padding: 1em;
    margin: 1em;

}
.row div{
    float: left;
}
.box-1-3{
    width:33.33%;
    border: 1px solid;
    padding: 1em;
}
.box-1-2{
    width:50%;
    border: 1px solid;
    padding: 1em;
}